:root {
    --black: #000000;
    --white: #ffffff;
    --basic: rgb(13, 196, 196);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: raleway;
    background-color: var(--black);
}

.navbar {
    background-color: transparent !important;
}

.navbar-brand img {
    width: 5%;
    height: 5%;
}

.carousel-item {
    max-height: 800px;
    overflow: hidden;
}

.icono {
    background-color: var(--basic);
    color: var(--white);
}

.borde {
    border-bottom: 2px solid var(--basic);
}

.card {
    border: 2px solid var(--white);
    background-color: var(--basic);
}

.card img {
    max-height: 35%;
    overflow: hidden;
}

.footer {
    background-color: var(--basic);
}

.texto-footer {
    text-transform: uppercase;
}

.footer a {
    color: var(--white);
    margin-left: 5%;
    margin-top: 0.25rem;
}